# DBT specific files
/dbt/dbt_upstart/dbt_modules/
/dbt/dbt_upstart/logs/
/dbt/dbt_upstart/target/
/dbt/dbt_upstart/dbt_packages/

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# VSCode specific settings
.vscode/